@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --dark-blue: hsl(223, 47%, 23%);
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    display: flex;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
}


.order-card{
    width: 450px;
    font-size: 16px;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: var(--desaturated-blue);
    font-family: "Red Hat Display", sans-serif;
}


.details{
    padding: 46px;
}

.title{
    font-size: 32px;
    font-weight: 900;
    margin-top: 12px;
    color: var(--dark-blue);
}


.order-text{
    font-size: 18px;
    margin-top: 25px;
    line-height: 25px;
    font-family: "Red Hat Display", sans-serif;
}




.plan{
    padding: 25px;
    display: flex;
    margin-top: 24px;
    border-radius: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
}



.plan a{
    font-size: 13px;
    font-weight: 700;
    color: var(--bright-blue);
    font-family: "Red Hat Display", sans-serif;
}


.plan a:hover{
    opacity: 0.8;
    text-decoration: none;
}


.plan-details strong{
    color: var(--dark-blue);
}

.plan-details{
    margin-left: 40px;
}


.music-details {
    display: flex;
}


.payment{
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 1rem 0;
    font-weight: 700;
    margin-top: 35px;
    font-size: 0.9rem;
    border-radius: 12px;
    background-color: var(--bright-blue);
    font-family: "Red Hat Display", sans-serif;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);;
}


.payment:hover{
    opacity: 0.8;
}

.cancel{
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 37px;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius:12px;
    background-color: white;
    color: var(--desaturated-blue);
}


.cancel:hover{
    color: black;
}

